{% extends 'base.html.twig' %}

{% block title 'Nouvelle série' %}

{% block body %}

  <div class="wrapperProgramNew container">

    <h1>Ajouter une nouvelle série</h1>
    <div class="row">
      <div class="col d-flex align-items-baseline">
        <p>Série déjà existante :</p>
        {% if programs %}
          {% for program in programs %}
            <ul class="list-group list-group-horizontal ml-2">
              <li class="list-group-item">{{ program.title | title }}</li>
            </ul>
          {% endfor %}
        {% else %}
          <p class="text-info list-group-item ml-2">C'est la première</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{ include('admin/program/_form.html.twig') }}
        <a href="{{ path('program_index') }}">Retour à la liste</a>
      </div>
    </div>

  </div>

{% endblock %}
