{% extends 'base.html.twig' %}

{% block title %}

  Modifier l'épisode' : {{ episode.title }}

{% endblock %}

{% block body %}
  <div class="wrapperEpisodeEdit container">

    <h1>Modifier l'épisode : {{ episode.title }}</h1>
    {{ include('admin/episode/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <div class="row text-left">
      <div class="col">
        <a href="{{ path('episode_index') }}">Retour à la liste</a>
      </div>
    </div>

  </div>

{% endblock %}
