{% extends 'base.html.twig' %}

{% block title 'Les acteurs'%}

{% block body %}

<div class="container">
    <h1>Les acteurs</h1>
  {% for actor in actors %}
    <a href="{{ path('actorProgram',{'id':actor.id}) }}"><li>{{ actor.name }}</li></a>
  {% endfor %}
</div>
{% endblock %}
