{% extends 'base.html.twig' %}

{% block title 'Nouvelle catégorie' %}

{% block body %}

  <div class="wrapperCategoryNew container">

    <h1>Ajouter une nouvelle catégorie</h1>
    <div class="row">
      <div class="col d-flex align-items-baseline">
        <p>Catégorie déjà existante :</p>
        {% if categories %}
          {% for category in categories %}
            <ul class="list-group list-group-horizontal ml-2">
              <li class="list-group-item">{{ category.name }}</li>
            </ul>
          {% endfor %}
        {% else %}
          <p class="text-info list-group-item ml-2">C'est la première</p>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ include ('admin/categories/_form.html.twig') }}
        <a href="{{ path('category_index') }}">Retour à la liste</a>
      </div>
    </div>

  </div>


{% endblock %}
