@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=BenchNine|Kanit:100i,400,700&display=swap&subset=latin-ext');

//bootsratp color
$colors: (
        "blue": $blue,
        "cyan": $cyan,
        "red": $red,
        "green": $green,
);

//color lighten
$blue_lighten: lighten(color("blue"), 20%);
$cyan_lighten: lighten(color("cyan"), 20%);
$red_lighten: lighten(color("red"), 20%);
$green_lighten: lighten(color("green"), 20%);

//color darken
$blue_darken: darken(color("blue"), 15%);
$cyan_darken: darken(color("cyan"), 15%);
$red_darken: darken(color("red"), 15%);
$green_darken: darken(color("green"), 15%);


body {
  background-color: lightgray;
  font-family: 'BenchNine', sans-serif;

  h1 {
    color: $cyan_darken;
  }

  h2 {
    color: $blue_darken;
  }

  header {
    margin-top: 6em;
    font-family: 'Kanit', sans-serif;
    letter-spacing: .5px;

    .navbar {
      a {
        font-size: 20px;
      }
    }
  }

  .wrapperHome,
  .wrapperSlug,
  .wrapperIndex,
  .wrapperCategory,
  .wrapperProgram,
  .wrapperEpisodes,
  .wrapperEpisode,
  .wrapperProgramArray {
    a {
      text-decoration: none;
      color: $red_darken;
      font-size: 24px;
    }
  }

  .wrapperIndex,
  .wrapperCategory,
  .wrapperProgram,
  .wrapperEpisodes,
  .wrapperEpisode {
    .card {
      .card-title {
        h3 {
          color: $red_lighten;
        }
      }

      .card-text {
        font-size: 20px;
      }
    }
  }

  .wrapperSlug {
    p {
      font-size: 20px;
    }

    img {
      width: 30rem;
    }

    small {
      font-size: 18px;
    }
  }

  .wrapperEpisode {
    .gallery {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }

    .gallery .pics {
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease;
    }

    .gallery .animation {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

  .wrapperProgramArray {
    th, td {
      font-size: 18px;
    }
  }
}