{% extends 'base.html.twig' %}

{% block body %}

  <div class="wrapperHome container">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-2">{{ pageTitle }}</h1>
      </div>
    </div>

    <div class="row">

      {% if programs %}

        {% for program in programs %}

          <div class="col-lg-4">
            <div class="card mt-2">
              <div class="card-body">
                <img class="card-img-top"
                     src="{{ program.poster }}"
                     alt="{{ program.slug | replace({'-' : ' '}) | title }}">
                <div class="card-text text-center m-2">
                  <a href="{{ path('wild_show', {'slug': program.slug}) }}">En voir plus</a>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}

      {% else %}

        <div class="col">
          <h2>Pour le moment il y a aucune série, pas de panique ça arrive !</h2>
        </div>

      {% endif %}

    </div>

  </div>

{% endblock %}
